@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Kaisei+Tokumin:wght@700&family=Montserrat&family=Playfair+Display:wght@400;500;700;800&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Hedvig Letters Serif", serif;
}
body {
  background: url(./brown-guy-with-dreads-no-beard-and-shades-typing-upscaled.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /* Adjust the color and opacity here */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  color: whitesmoke;
  text-decoration: none;
  padding-left: 20px;
}

.title {
  margin-left: 50px;
}

.title img {
  height: 70px;
  width: auto;
}

.links {
  margin-right: 50px;
}

.body-container {
  height: 100vh;
}

.body-container h2,
p {
  color: white;
}

.text-container {
  position: absolute;
  justify-content: flex-end;
  margin-top: 70px;
  margin-left: 150px;
  max-width: 600px;
}

.text-container h2 {
  font-size: 3rem;
  font-weight: bold;
  line-height: 0.5;
}

.text-container span {
  color: #988567;
}

.nav img {
  width: auto;
  height: 7rem;
}

.btn-container {
  display: flex;
  column-gap: 20px;
}

.btns {
  color: white;
  background-color: #988567;
  padding: 10px 20px;
  border-radius: 40px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 7s ease;
}

.fade-in {
  opacity: 1;
}

.btns :hover {
  cursor: pointer;
  background-color: #3c3829;
}

.stack-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stack-header h2 {
  font-weight: bolder;
}

.hero {
  position: relative;
}

.stack-container {
  position: absolute;
  height: 6rem;
  width: 800px;
  margin-left: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  margin-top: 450px;
}

.stack-container img {
  width: auto;
  height: 4rem;
}

.hidden {
  opacity: 0;

  transform: translateX(10%);
  transition: opacity 7s ease-in-out;
}

/* Media query for mobile menu */
@media screen and (max-width: 768px) {
  .body-container {
    display: grid;
    place-items: center;
  }

  .text-container h2 {
    line-height: 50px;
  }
}
